.slider {
    position: absolute!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
}

.slide img {
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.owl-carousel .owl-stage-outer, .owl-carousel .owl-stage-outer div {
    height: 100%;
}

.Header {
    position: relative;
}

.Header > div {
	z-index: 2;
}

.slider .titulo-home {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}

.Header #dots {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.Header .owl-dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 20px;
    text-align: center;
}

.Header .owl-dot {
    cursor: pointer;
    opacity: 0.4;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: white;
    margin: 5px;
    border-radius: 50%;
}

.Header .owl-dot.active {
    cursor: default;
    opacity: 1;
}