@charset "utf-8";
/* CSS Document */

body{text-align: center; font-family: 'Signika', sans-serif;color: #333333;border: 1px solid #a3968d;max-width: 1200px !important; font-size: 18px}
img{max-width: 100%}
button.fancybox-button.fancybox-button--close{background: url('../css/images/close.png') no-repeat; height: 36px; width: 36px; border: none;position: absolute; right: 4%; top: 
5%; cursor: pointer;z-index: 150;}
.container-nota{width: 100% !important; padding: 2% 3% !important;}
.nota{ text-align: left;font-family: 'Signika', sans-serif;font-size: 18px}
.nota h1{color: #77695c;font-family: 'Signika', sans-serif; font-size: 48px; line-height: 30px; font-weight: bold;     margin-bottom: 4% ;border-bottom: 1px solid #77695c;
    padding-bottom: 4%;}
.nota h3{font-family: 'Signika', sans-serif; font-weight: bold; font-size: 30px}
.nota p.claro{color: #999999;font-family: 'Signika', sans-serif; font-size: 30px; line-height: 30px; margin-bottom: 4%}
.nota .imagen{min-height: 386px}
@media(max-width: 767px) {
	.nota h1 {
		font-size: 30px;
	}
	.nota p.claro {
		font-size: 22px;
	}

	.nota p > img {
    	height: auto!important;
	}
}