.locals{
	position: relative;
	overflow: hidden;
	width: 100%;
}
.locals h1{
	color: #55381d;
	font-size: 50px;
	text-align: center;
	font-family: Fjalla One;
	margin-top: 63px;
}
.locals .locals_c{
	width: 930px;
	position: relative;
	overflow: hidden;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 110px;
	height: 655px;
}
.locals .reference{
	font-size: 14px;
    text-align: right;
}
.locals .reference .reftext{
    display: inline-block;
    font-family: Fjalla One;
    height: 35px;
    line-height: 35px;
    margin-top: -21px;
    position: relative;
    vertical-align: middle;
}
.locals .reference .refimg{
	display: initial;
	margin-top: -5px;
	margin-left: 5px;
}
.locals .reference p{
	padding-top: -10px;
}
.locals .reference .divider{
    border-left: 1px solid #ddd7d2;
    display: inline-block;
    height: 0;
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 30px;
    position: relative;
}
.locals .locals_c .menu{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 55px;
}
.locals .locals_c .menu select{
	position: relative;
	float: left;
	margin-right: 6px;
	width: 176px;
	height: 33px;
	border: 1px solid #d8d3ce;
	color: #8e8074;
	font-size: 16px;
	font-family: Fjalla One;
}
.locals .locals_c .menu .submit{
	width: 94px;
	height: 33px;
	background-color: #55381d;
	cursor: pointer;
	float: left;
	color: #fff;
	font-size: 16px;
	line-height: 33px;
	vertical-align: middle;
	text-align: center;
	font-family: Fjalla One;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.locals .locals_c .menu .submit:hover{
	background-color: #88603b;
}
.locals .locals_c .menu .submit .color{
	color: #fab43f;
	margin-left: 7px;
}
.locals .locals_c .hr{
	background-color: #ddd7d2;
	height: 33px;
	width: 1px;
	float: left;
	position: relative;
	margin-left: 46px;
	margin-right: 46px;
}
.locals .locals_c .menu .telefono{
	width: 208px;
	padding-left: 20px;
	height: 31px;
	background-color: #ffffff;
	cursor: pointer;
	float: right;
	color: #55381d;
	font-size: 16px;
	line-height: 33px;
	vertical-align: middle;
	text-align: center;
	font-family: Fjalla One;
	border: 1px solid #d8d3ce;
	background-image: url(images/pages/locales/telefono.html);
	background-repeat: no-repeat;
	display: none;
}
.locals .locals_c .steps{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 600px;
	margin-top: 60px;
	background-image: url(images/pages/locales/color.html);
	background-repeat: repeat;
	z-index: 50;
	color: #FFF;
}
.locals .locals_c .steps .placa{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.locals .locals_c .steps .color{
	color: #f1ae3d;
}
.locals .locals_c .steps h2{
	font-size: 55px;
	font-family: Fjalla One;
	text-align: center;
	margin-top: 30px;
}
.locals .locals_c .steps h3{
	font-size: 22px;
	font-family: Fjalla One;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 40px;
}
.locals .locals_c .steps img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 115px;
}
.locals .locals_c .steps .button{
	position: relative;
	overflow: hidden;
	line-height: 33px;
	vertical-align: middle;
	text-align: center;
	width: 224px;
	height: 33px;
	font-size: 16px;
	font-family: Fjalla One;
	color: #5c4631;
	background-color: #FFF;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 7px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.locals .locals_c .steps .button:hover{
	background-color: #dedede;
}
.locals .locals_c .steps select:hover{
	background-color: #FFF !important;
}

.map-popup .firstHeading{
	font-size: 15px;
	font-weight: bold;
}
.map-popup .myInfo{
	font-size: 14px;
	font-weight: normal;
}
.locals .locals_c .step{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.locals .locals_c .step .map{
	float: left;
	width: 40%;
	position: relative;
	height: 100%;
}
.locals .locals_c .step .map .capa{
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.locals .locals_c .step .map .capa-no{
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

/*STEPS*/
.locals .locals_c .step1 .completo{
	background-color: #f1ae3d;
}
.locals .locals_c .step1 .completo:hover{
	background-color: #c19448;
}
.locals .locals_c .step2 .placa{
	float: right;
	width: 60%;
}
.locals .locals_c .step3 .placa{
	float: right;
	width: 60%;
}
.locals .locals_c .step3 img{
	margin-top: 55px;
}
.locals .locals_c .step3 h2{
	font-size: 35px;
}
.locals .locals_c .step3 .volver{
	background-color: #f1ae3d;
	color: #5e442c;
}
.locals .locals_c .step3 .volver:hover{
	background-color: #a67f3d;
}
.locals .locals_c .menu .hr{
	background-color: #ddd7d2;
	height: 33px;
	width: 1px;
	float: left;
	position: relative;
	/*margin-left: 46px;
	margin-right: 46px;*/
	margin-left: 119px;
	margin-right: 119px;
}
.locals .locals_c .loading{
	position: absolute;
	top: 95px;
	right: 20px;
	width: 70px;
	height: 70px;
	background-image: url(images/pages/locales/loading_bk.html);
	background-repeat: repeat;
	border-radius: 50px;
	text-align: center;
	line-height: 70px;
	vertical-align: middle;
	z-index: 9;
	font-size: 22px;
}
.locals .locals_c .loading .animation{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*background-image: url(../images/pages/locales/loading.gif);
	background-repeat: no-repeat;
	background-position: center;*/
}
#localidades_step{
    margin-left: 20%;
    max-height: 200px;
    overflow: auto;
    width: 60%;
}
.locals .locals_c .step4 .placa{
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	height: 92%;
}
.locals .locals_c .step4 h4{
	font-family: Fjalla One;
	font-size: 30px;
}
.locals .locals_c .step4 .locales{
	height: 440px;
	width: 100%;
	overflow: auto;
	margin-top: 35px;
	position: relative;
}
.locals .locals_c .step4 .locales .local{
	width: 138px;
	height: 168px;
	position: relative;
	overflow: hidden;
	float: left;
	border-right: 1px solid #87715d;
	padding-right: 38px;
	margin-right: 30px;
	margin-bottom: 40px;
}
.locals .locals_c .step4 .locales .local h5{
	font-size: 21px;
	font-family: Fjalla One;
	color: #fab43f;
}
.locals .locals_c .step4 .locales .local p{
	color: #dbcbbd;
	font-size: 13px;
	margin-top: 20px;
}
.locals .locals_c .step4 .locales .local .ver{
	width: 100%;
	background-color: #fab43f;
	color: #55381d;
	margin-top: 20px;
}
.locals .locals_c .step4 .locales .local .ver:hover{
	background-color: #FFF;
}
.locals .locals_c .step4 .volver2{
	width: 129px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}
/*STEPS*/

.locals .locals_c #map-canvas{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 600px;
	margin-top: 60px;
}
@media (max-width: 768px){
	.steps{
		display: none;
	}
	.locals .locals_c{
		height: 800px;
	}
	.locals .locals_c{
		width: 100%;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.locals .reference{
		margin-top: 180px;
		margin-right: 5%;
	}
	.locals .locals_c .menu{
		overflow: unset !important;
	}
	.locals .locals_c .menu select:first-of-type {
		margin-top: 0;
	}
	.locals .locals_c .menu select {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 10px;
	}
	.locals .locals_c .menu .submit {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 10px;
	}
	.locals .locals_c .menu .hr{
		display: none;
	}
	.locals .locals_c .menu .telefono {
		padding-left: 0;
		width: 89.5%;
		margin-top: 10px;
		margin-left: 5%;
		margin-right: 5%;
	}
	.locals .locals_c .loading{
		top: 255px;
	}	
	.locals .locals_c .menu .telefono{
		background-image: url(images/pages/locales/telefono_m.html);
	}
	#map-canvas{
		margin-top: 220px !important;
		width: 90% !important;
		margin-left: 5%;
		margin-right: 5%;
	}
}
@media screen and (max-width: 600px){
	.locals .reference{
		margin-right: 0 !important;
		text-align: center;
	}
	.locals .locals_c .menu{
		display: block !important;
	}
}
@media screen and (max-width: 1080px) {
	.locals h1{
		margin-top: 40px;
	}
	.locals .locals_c{
		width: 100%;
		margin-top: 30px;
		margin-bottom: 40px;
	}	
	.locals .locals_c .menu .hr {
		display: none;
	}