/****************** 4 - RESPONSIVE ***************/
@media (max-width:1440px){
	div.titulo-home {
		max-width: 700px;
		text-transform: uppercase;
		color: white;
		margin-left: auto;
		margin-right: auto;
		margin-top: 14%;
	}
	div.titulo-home h3 {
		font-size: 54px;
		font-weight: 700;
		margin-bottom: 5%;
	}
	.BlockInfo-nosotros{position: absolute; bottom: 22%; text-align: left; left: 0%;}
	.BlockInfo-nosotros .TitleN1{
		line-height: 59px;
		font-size: 54px;
	}
	.BlockInfo-locales .Title.TitleN1{color: white;
    font-size: 54px;
    line-height: 59px;
    max-width: 588px;}
	.BlockInfo-locales {
    position: absolute;
    bottom: 22%;
    text-align: left;
    left: 0%;
}

	.BlockInfo-productos{position: absolute; bottom: 2%; text-align: left; left: 0%;}
	.BlockInfo-productos .TitleN1{
		line-height: 59px;
		font-size: 54px;
	}
	.BlockInfo-contacto .TitleN1, .BlockInfo-negocios .TitleN1 {
		line-height: 58px;
		font-size: 54px;
		font-weight: bold;
		text-transform: uppercase;
		color: white;
		margin-bottom: 17%;
	}
	.BlockInfo-novedades {
		position: absolute;
		bottom: 20%;
		text-align: right;
		right: 0;
	}
	.BlockInfo-novedades .Title.TitleN1 {
		color: white;
		text-transform: uppercase;
		font-size: 59px;
		line-height: 54px;
		padding-bottom: 3%;
	}
}
@media (max-width:1280px){
	div.titulo-home {
		max-width: 700px;
		text-transform: uppercase;
		color: white;
		margin-left: auto;
		margin-right: auto;
		margin-top: 11%;
	}
	.BlockInfo-nosotros{position: absolute;bottom: 31%;text-align: left;left: 5%;}
	.BlockInfo-nosotros .TitleN1{font-size:  54px; line-height: 60px}
	.BlockInfo-productos{position: absolute; bottom: 31%; top:auto; text-align: left; left: 5%;}
	.BlockInfo-productos .TitleN1{line-height: 60px;font-size: 54px;}
	.Home-productos{padding: 5% 0;}
	.BlockInfo-locales{left: 5%; right: auto;bottom: 31%;}
	.BlockInfo-contacto, .BlockInfo-negocios {
		position: absolute;
		bottom: 10%;
		text-align: right;
		right: 3%;
	}
	.BlockInfo-novedades {
		position: absolute;
		bottom: 27%;
		/*text-align: center;*/
		right: 3%;
	}
	.BlockInfo-negocios {
		position: absolute;
		bottom: 25%;
		text-align: right;
		right: 3%;
	}

}
@media (max-width: 1200px){
	.BlockInfo-novedades, .BlockInfo-negocios, .BlockInfo-contacto, .BlockInfo-productos, .BlockInfo-locales, .BlockInfo-nosotros {
		width: 100%!important;
		right: auto!important;
		bottom: 20%!important;
		top: auto!important;
		text-align: left;
		left: auto!important;
    	/*text-align: center!important;*/
	}
	.BlockInfo-novedades .Title.TitleN1, .BlockInfo-negocios .Title.TitleN1, .BlockInfo-contacto .Title.TitleN1, .BlockInfo-productos .Title.TitleN1, 
	.BlockInfo-locales .Title.TitleN1, .BlockInfo-nosotros .Title.TitleN1 {
		font-size: 38px;
		line-height: 38px;
		margin-bottom: 0!important;
	}
	.Menu-Principal ul li a { padding: 6px 8px;font-size: 16px;}
	.LogoPrincipal{max-width: 195px;}
	.ListadoColores li .ColorText {font-size: 14px;}
	.TitleN1 {font-size: 24px;line-height: 26px;}
	.Home-Productos-Nugaton {background: url("../images/productos/bg-nugaton.png") #ffa400 30px 150px no-repeat;}
	.Footer-Box-Logo { width: 280px;}
	.Footer-Box-Menu-List { width: 14%;}
	.Header .container {height: 600px;}
	.Header .BlockInfo{height: 365px;}
	.Menu-Principal ul li.active a span {left: 6px; bottom: 0px;}
	.Menu-Principal ul li a:hover span{left: 6px; bottom: 0px;}
	.Header .BlockInfo .Link { font-size: 20px;}
	.BlockInfo { padding: 40px 20px; text-align: left;}
	.Header .BlockInfo { height: 310px;}
	
}

@media (max-width: 990px){
	.Home-Conoce-Intro .BlockInfo .Imagen { width: 290px;}
	.Header .BlockInfo {width: 290px;height: 265px;}
	.Home-Conoce-Intro .BlockInfo { padding-right: 20px;}
	.TitleN1 { font-size: 22px; line-height: 24px;}
	.Home-Conoce-Intro .BlockInfo .Title {padding-top: 35px;}
	.BlockInfo .Line { margin-bottom: 15px;}
	.BlockInfo .Title { margin-bottom: 15px;}
	p {font-size: 16px;}
	.Home-Conoce-Colores {padding: 60px 20px;}
	.Home-Conoce-Colores .Title {margin-bottom: 35px;}
	.ListadoColores li .Color-Borde { width: 65px; height: 65px; padding: 5px;}
	.ListadoColores li .Color-Borde .Color { margin-bottom: 5px;}
	.FranquiciasBox .BlockInfo{width: 290px;padding-right: 30px;}
	.BuscaLocalesBox .BlockInfo {width: 290px; padding-right: 30px;}
	.Footer-Box-Menu-List { width: 20%;}
	.ListadoColores li .ColorText {font-size: 11px;}
	.Menu-Principal ul li a {padding: 6px 5px; font-size: 12px;}
	.LogoPrincipal {max-width: 135px;}
	.Header-Menu { padding-right: 0px;}
	.Menu-Acceso {right: 0;}
	.Menu-Acceso li a { font-size: 10px;}
	.Header .container {height: 460px;}
	.Menu-Principal ul li.active a span {left: 9px; bottom: 4px;}
	.Menu-Principal ul li a:hover span{left: 9px; bottom: 4px;}
	.Header .BlockInfo .Link { font-size: 18px;}
	.BlockInfo { padding: 30px 20px; text-align: left;}

	.Nosotros-Historia-Historia .TitleN1 { padding-top: 70px;margin-bottom: 30px;}
	.Nosotros-Historia-Historia-Imagen {width: 210px; margin-left: 50px;}

	.Nosotros-Historia-Mercado-Imagen {padding-bottom: 260px; width: 210px;margin-right: 50px;}

	.Nosotros-Valores {padding: 85px 20px 90px 20px;}

	.Nosotros-Historia-Mercado .TitleN1 {padding-top: 30px;}
}
@media (max-width: 1440px){
	.Header .container {
		height: 597px;
		/*height: 100%;*/
	}
}
@media (max-width: 1280px){
	.Header .container {
		height: 517px;
		/*height: 100%;*/
	}
}
@media (max-width: 1024px){
	.Header .container {
		height: 417px;
		/*height: 100%;*/
	}
}
@media (max-width: 768px){
	.Header .container {
		height: 305px;
		/*height: 100%;*/
	}
}
@media (max-width: 667px){
	.Header .container {
		height: 243px;
		/*height: 100%;*/
	}
}
@media (max-width: 767px){

	.Nosotros-Valores {padding: 45px 0px 40px 0px;}

	.ListadoValores li {padding: 0 0px;}


	.Header .BlockInfo { background: #e41f26;  position: absolute; left: 0px;  bottom: -10px;}
    .icon-menu-mobile { display: block; padding: 1px 0;}

    .Footer-Box-Menu { padding: 0 15px; display: inline-block;width: 48%;}
    .Footer-Box-Menu-List {width: 50%;height: auto; margin-bottom: 20px;}
	.ListadoColores li {width: 33.3%; margin-bottom: 20px;}
	.Footer-Box { width: 45%;}
	.Footer-Box-Logo img { width: 140px;}
	.Footer-Box-Logo { width: 100%;padding: 110px 10px 120px 20px;}
	.ContentImagenConoce{width: 100%;overflow: hidden;height: 150px;}
	.Home-Conoce-Intro .BlockInfo .Imagen{position: relative;top: -180px;width: 100%;}
	.Home-Conoce-Intro .BlockInfo{padding: 0;}
	.ContentConoce {padding: 0px 15px 85px 15px; display: inline-block;}
	.Header-Menu { position: absolute; top: 0;  right: 0;}
	.Header-Logo { padding-top: 15px;}
	.LogoPrincipal { max-width: 175px;}

	.Menu-Principal ul li { width: 100%;}
	.Menu-Principal ul li a {font-size: 16px;width: 100%;}
	.Menu-Principal ul li a span {display: none;}

}

@media (max-width: 480px) {

	.Nosotros-Historia-Historia-Imagen { width: 100%; margin-left: 0; padding-top: 45px; margin-bottom: 25px;}

	.ListadoValores li {width: 48%; margin-bottom: 25px;}

	.Nosotros-Historia-Historia { padding: 0px 0px 0 0px;}

	.Nosotros-Historia-Mercado-Imagen {padding-bottom: 45px; width: 100%; margin-right: 0; margin-bottom: 25px;}
	.Nosotros-Historia-Mercado-Imagen img{width: 100%;}

	.Nosotros-Historia-Mercado {padding: 0px 0px 25px 0px;}

	.Home-Conoce-Intro .BlockInfo .Imagen {width: 100%; margin-right: 0;}
	.Home-Conoce-Intro .BlockInfo {padding-right: 0px;}
	.ListadoColores li {width: 50%;}
	.Footer-Box { width: 100%;}
	.Footer-Box-Logo { padding: 40px 15px 40px 15px;width: 100%;}
	.Footer-Box-Logo img {margin-bottom: 20px;}
    .Footer-Box-Menu-List {width: 100%; float: left;}
    .Home-Productos-Cumplimos .BlockInfo .Imagen { max-width: 105px;}
    .Box-Producto-Grid { height: 200px;}
    .Home-Productos-Chockman {
    	background: url("../images/productos/bg-chockman.png") #4562a7 -50px 100px no-repeat;
        background-size: auto auto;background-size: 100%;}
	.Home-Productos-Nugaton {
	    background: url("../images/productos/bg-nugaton.png") #ffa400 30px 110px no-repeat;
	    background-size: 100%;
	}
	.Home-Productos-Donuts {
	    background: url("../images/productos/bg-donuts.png") #9973b1 30px 80px no-repeat;
	        background-size: auto auto;
	    background-size: 100%;
	}
	.Home-Productos-Rama {
	    background: url("../images/productos/bg-rama.png") #c50a03 0 85px no-repeat;
	        background-size: auto auto;
	    background-size: 100%;
	}
	.FranquiciasBox .BlockInfo {width: 80%;height: 345px;}
	.BuscaLocalesBox .BlockInfo {width: 80%;height: 345px;}
	.Header .BlockInfo {width: 80%;}
	.Home-Conoce-Intro .BlockInfo .Imagen { top: -100px;}
	div.titulo-home{margin-top: 38%;}
	div.titulo-home h3{font-size: 20px;}
	.banner-producto{ clear: both; margin-bottom: 10%;}
	.banner-producto .texto-producto-banner p{margin-bottom: 49%;}
	.BlockInfo-nosotros{position: absolute; bottom: 41%; text-align: center; right: 2%;}
	.BlockInfo-nosotros .TitleN1 {font-size: 36px;line-height: 36px;}
	.BlockInfo-productos{position: absolute;bottom: 2%;text-align: center;right: 6%;}
	.BlockInfo-productos .TitleN1{    line-height: 31px; font-size: 29px;}
	.BlockInfo-contacto, .BlockInfo-negocios { position: absolute;bottom: 10%;text-align: center;/* right: 12%;*/width: 100%;right: auto;}
	.BlockInfo-contacto .TitleN1, .BlockInfo-negocios .TitleN1{line-height: 38px;font-size: 38px;}
	.Contacto form.form-horizontal.contacto-form .form-group{padding-right: 15px; padding-left: 15px;}
	.VisionsBox .BlockInfo-nosotros-vision{padding-right: 10px;}
	.BlockInfo-nosotros-vision .Title{margin-bottom: 0;}
	.Contacto-Familia .VisionsBox .BlockInfo-nosotros-vision .Title{font-size: 20px; line-height: 25px;}
	
	.BlockInfo-novedades .Title.TitleN1{/*font-size: 20px;line-height: 20px;*/    line-height: 38px; font-size: 38px;}
	.BlockInfo-novedades p.Parrafo{font-size: 14px;line-height: 18px;max-width: 279px;}
	.novedad-item img{margin-left: auto; margin-right:auto ;}
	.SeccionLocales .Wrapper{margin-top: -65%}
	.BlockInfo-locales .Title.TitleN1{font-size: 20px; line-height: 20px}
	.Locales-Mapa #map-canvas{width: 100%; min-height: 361px;margin-top: 16px !important;}
	.BlockInfo-franquicias .Title.TitleN1{font-size: 38px;line-height: 42px;}
	#locales-buscar select{width: 62%; margin-bottom: 2%} 
	div.submit{width: 61%;}
	
	.Banner-bajo h4.TitleN1{font-size: 28px; line-height: 33px;}

	.BlockInfo-novedades .Title.TitleN1, .BlockInfo-negocios .Title.TitleN1, .BlockInfo-contacto .Title.TitleN1, .BlockInfo-productos .Title.TitleN1, 
	.BlockInfo-locales .Title.TitleN1, .BlockInfo-nosotros .Title.TitleN1 {
		font-size: 34px;
		line-height: 34px;
	}

	.BlockInfo-index .Title.TitleN1 {
		font-size: 34px;
		line-height: 34px;
	}

}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
	 .BgHeader-Novedades,.BgHeader-Locales, .BgHeader-Franquicia,.BgHeader-Nosotros,.BgHeader-Productos,.BgHeader-Contacto,.BgHeader-Inicio,.BgHeader-Negocios{background-attachment: scroll;}  
    }
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {  .BgHeader-Novedades,.BgHeader-Locales, .BgHeader-Franquicia,.BgHeader-Nosotros,.BgHeader-Productos,.BgHeader-Contacto,.BgHeader-Inicio,.BgHeader-Negocios{background-attachment: scroll;}  }