/*
** 1 - RESET
** 2 - GENERAL
** 3 - SECCIONES
** 4 - BOOTSTRAP CUSTOM
** 5 - RESPONSIVE
*/

/****************** 1 - RESET ********************/

html {
	height: 100%;
	-webkit-overflow-scrolling: touch;
}
body {
	font-size: 18px;
	color: #36363d;
	font-family: 'Signika', sans-serif;
	font-weight: 400;
	background-color: #fafafa;
	-webkit-overflow-scrolling: touch;
	text-align: center;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p, ul {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
ul, li {
	list-style: none;
}
p {
	font-size: 18px;
	color: #36363d;
	line-height: 22px;
}
a, button, i, h4, span {
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
a:hover {
	text-decoration: none;
}
/****************** 2 - SECCCIONES ******************/

.TitleN1 {
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
	text-transform: uppercase;
}
.text-white {
	color: white;
}
.ParrafoBox {
	margin-bottom: 40px;
	line-height: 25px;
}
.BlockInfo-nosotros {
	position: absolute;
	bottom: 5%;
	text-align: left;
	left: 0%;
}
.BlockInfo-nosotros .TitleN1 {
	line-height: 94px;
	font-size: 91px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	text-shadow: 1px 1px 2px rgb(6, 6, 6);
}
.BlockInfo-productos {
	position: absolute;
	top: 54%;
	text-align: left;
	/*left: 10%;*/
}
.BlockInfo-productos .TitleN1 {
	line-height: 75px;
	font-size: 75px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	text-shadow: 1px 1px 2px rgb(6, 6, 6);
}
.BlockInfo-contacto, .BlockInfo-negocios{
	position: absolute;
	bottom: 6%;
	text-align: right;
	right: 0;
}

.BlockInfo-index {
	position: absolute;
	bottom: 6%;
	text-align: left;
	font-size: 54px;
}

.BlockInfo-contacto .TitleN1, .BlockInfo-negocios .TitleN1, .BlockInfo-index .Title.TitleN1 {
	line-height: 58px;
	font-size: 58px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	/*margin-bottom: 17%;*/
	text-shadow: 1px 1px 2px rgb(6, 6, 6);
}
.BlockInfo-contacto .breadcum, .BlockInfo-negocios .breadcum {
	color: white;
	text-transform: uppercase;
	line-height: 36px;
}
.Header {
	/*min-height: 50vh;*/
	min-height: 100vh;
	background-size: cover;
}

.Header.vacio {
	height: 0;
}

@media(max-width: 1441px) {
	/*.Header {
		min-height: 80vh;
	}*/
}

@media(max-width: 767px) {
	/*.Header {
		height: 100vh;
		background-size: cover;
	}*/
}

.BgHeader-Novedades {
	/*background: url(images/bg-header-novedades.jpg);*/
	background-size: auto auto;
	background-size: cover;
	background-attachment: fixed;
}
.BgHeader-Locales {
	/*background: url(images/bg-header-locales.jpg);*/
	background-size: auto auto;
	background-size: cover;
	background-attachment: fixed;
}
.BgHeader-Franquicias {
	/*background: url(images/bg-header-franquicias.jpg);*/
	background-size: auto auto;
	background-size: cover;
	background-attachment: fixed;
}
.Wrapper {
	max-width: 100%;
	background-color: #fff;
	padding-bottom: 0px;
	margin: 0 auto;
	position: relative;
}
/* HEADER */
.Header {
	padding: 40px 15px 0px 15px;
	z-index: 2;
	top: 0;
}
.BgHeader-Inicio {
	/*background: url("images/fondo-pascuas_1.jpg");*/
	background-size: auto auto;
	background-size: cover;
	background-attachment: fixed;
}
.BgHeader-Nosotros {
	/*background: url("images/bg-header-nosotros.jpg");*/
	background-size: auto auto;
	background-size: cover;
	background-attachment: fixed;
}
.BgHeader-Productos {
	/*background: url("images/bg-header-productos-2.jpg");*/
	background-size: auto auto;
	background-size: cover;
	background-attachment: fixed;
}
.BgHeader-Contacto {
	/*background: url("images/bg-header-contacto.jpg");*/
	background-size: auto auto;
	background-size: cover;
	background-attachment: fixed;
}
.BgHeader-Negocios {
	/*background: url("images/bg-header-negocios-2.jpg");*/
	background-size: auto auto;
	background-size: cover;
	background-attachment: fixed;
}
.Header .container {
	position: relative;
	height: 760px;
}
.Header-Logo {
	padding: 0px;
	/*margin-top: 10px*/
	margin-top: 3px;
}
@media(min-width: 1280px) {
	.Header-Logo .LogoPrincipal {
		max-width: 115%;
	}
}
.Header-Menu {
	padding-right: 55px;
	margin-top: 10px
}
.Menu-Principal {
	float: right;
}
.Menu-Principal ul {
}
.Menu-Principal ul li {
	float: left;
}

.Menu-Principal ul li a {
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	padding: 6px 10px 10px 5px;
	float: left;
	font-weight: 700;
	position: relative;
}
.Menu-Principal ul li a:hover span {
	width: 18px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 6px;
	bottom: 6px;
}
.Menu-Principal ul li a span {
	left: 15px
}
.Menu-Principal ul li.active a span {
	width: 18px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 6px;
	bottom: 6px;
}
.Menu-Principal ul li:last-child a {
	padding-right: 0;
}
.Menu-Acceso {
	position: absolute;
	right: 55px;
	top: -35px;
}
.Menu-Acceso li {
	float: left;
	margin-left: 15px;
}
.Menu-Acceso li a {
	font-size: 12px;
	color: #fff;
	position: relative;
	padding-left: 30px;
}
#home-bonafide .Menu-Acceso li a {
	font-size: 12px;
	color: white;
	position: relative;
	padding-left: 30px;
}
.Menu-Acceso li a i {
	float: left;
	position: absolute;
	margin-right: 5px;
	background: #fff;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	color: #000;
	font-size: 16px;
	text-align: center;
	padding: 2px 4px;
	top: -3px;
	left: 0;
}
/* END HEADER */

/************ HOME *************/
.Header .BlockInfo {
	background: #e4002b;
	position: absolute;
	left: 15px;
	bottom: 0;
	width: 390px;
	height: 400px;
}
.Header .BlockInfo .Link {
	font-size: 24px;
}
.Header .BlockInfo .Title {
	height: 145px;
}
.Header .RedesSociales {
	position: fixed;
	right: 15px;
	width: 33px;
	top: 40%;
	z-index: 666;
}
.Header .RedesSociales li {
	float: left;
	margin-right: 0;
	margin-bottom: 10px;
}
.Header .RedesSociales li a i {
	color: #614050;
}
.Home-Conoce-Intro {
	background: #222222;
	display: inline-block;
	width: 100%;
	position: relative;
}
.Home-Conoce-Intro .BlockInfo {
	padding: 0;
	padding-right: 125px;
}
.Home-Conoce-Intro .BlockInfo .Imagen {
	float: left;
	margin-right: 30px;
	width: 390px;
}
.Home-Conoce-Intro .BlockInfo .Title {
	color: white;
	font-size: 25px;
	line-height: 25px;
}
.Home-Conoce-Intro .BlockInfo .Title .Especial {
	font-weight: normal;
	color: #e4002b;
}
.Home-Conoce-Intro .BlockInfo .Link {
	position: absolute;
	right: 40px;
	bottom: 30px;
	font-size: 24px;
	line-height: 24px;
}
.Home-Conoce-Colores {
	display: inline-block;
	width: 100%;
	padding: 120px 40px;
}
.Home-Conoce-Colores .Title {
	margin-bottom: 75px;
}
.ListadoColores {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.ListadoColores li {
	float: left;
	text-align: center;
	display: inline-block;
	width: 12.5%;
}
.ListadoColores li .Color-Borde {
	display: inline-block;
	width: 93px;
	height: 93px;
	border-radius: 50%;
	border: 1px solid #9a9a9a;
	padding: 10px;
}
.ListadoColores li .Color-Borde .Color {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	margin-bottom: 35px;
}
.ListadoColores li .Color-Borde .Color1 {
	background: #2b2c2c;
}
.ListadoColores li .Color-Borde .Color2 {
	background: #ae8500;
}
.ListadoColores li .Color-Borde .Color3 {
	background: #e73802;
}
.ListadoColores li .Color-Borde .Color4 {
	background: #78683f;
}
.ListadoColores li .Color-Borde .Color5 {
	background: #15adcd;
}
.ListadoColores li .Color-Borde .Color6 {
	background: #3d5da2;
}
.ListadoColores li .Color-Borde .Color7 {
	background: #999999;
}
.ListadoColores li .Color-Borde .Color8 {
	background: #33cc00;
}
.ListadoColores li .ColorText {
	display: inline-block;
	width: 100%;
	color: #666666;
	font-size: 16px;
}
/************ HOME - PRODUCTOS *************/
.Home-Productos {
	display: block;
	width: 100%;
	background: #fff;
	margin-bottom: 3%
}
.Home-Productos .container-fluid {
	padding: 0;
	overflow: hidden;
}
.Box-Producto-Grid {
	padding: 0px;
	height: 394px;
}
.Home-Productos-Cumplimos {
	background: #e4002b;
	display: inline-block;
	width: 100%;
	position: relative;
}
.Home-Productos-Cumplimos .BlockInfo {
	padding: 0;
}
.Home-Productos-Cumplimos .BlockInfo .Imagen {
	float: left;
	margin-right: 30px;
	max-width: 203px;
}
.Home-Productos-Cumplimos .BlockInfo .Title {
	padding-top: 45px;
}
.Home-Productos-Donuts {
	background: url("../images/productos/bg-donuts.png") #9973b1 150px top no-repeat;
	display: inline-block;
	width: 100%;
	position: relative;
	height: 100%;
}
.Home-Productos-Donuts .BlockInfo {
	padding: 45px 30px;
}
.Home-Productos-Rama {
	background: url("../images/productos/bg-rama.png") #c50a03 0 bottom no-repeat;
	display: inline-block;
	width: 100%;
	position: relative;
	height: 100%;
}
.Home-Productos-Rama .BlockInfo {
	padding: 45px 30px;
}
.Home-Productos-Chockman {
	background: url("../images/productos/bg-chockman.png") #4562a7 -50px 150px no-repeat;
	display: inline-block;
	width: 100%;
	position: relative;
	height: 100%;
}
.Home-Productos-Chockman .BlockInfo {
	padding: 45px 30px;
}
.Home-Productos-Nugaton {
	background: url("../images/productos/bg-nugaton.png") #ffa400 120px 150px no-repeat;
	display: inline-block;
	width: 100%;
	position: relative;
	height: 100%;
}
.Home-Productos-Nugaton .BlockInfo {
	padding: 45px 30px;
}
/************ HOME - FRANQUICIAS *************/
.Franquicias {
	padding: 0;
	background: url("images/bg-home-franquicias-busca.jpg");
	z-index: 2;
	top: 0;
	background-size: cover;
	background-attachment: fixed;
	display: block;
	width: 100%;
}
.FranquiciasBox {
	display: inline-block;
	width: 100%;
}
.FranquiciasBox .BlockInfo {
	width: 403px;
	float: left;
	height: 395px;
	padding-right: 60px;
}
.FranquiciasBox .BlockInfo .Title {
	height: 110px;
}
.BuscaLocalesBox {
	display: block;
	width: 100%;
}
.BuscaLocalesBox .BlockInfo {
	background: #4f6480;
	width: 445px;
	float: right;
	height: 395px;
	padding-right: 100px;
}
.BuscaLocalesBox .BlockInfo .Title {
	height: 110px;
	color: white;
}
/************ NOSOTROS *************/
.Nosotros-Historia {
	padding: 0;
	display: block;
	width: 100%;
	background: #fff;
}
.Nosotros-Historia-Historia {
	text-align: justify;
	padding: 0px 0px 0 0px;
	margin-bottom: 13%;
}
.Nosotros-Historia-Historia .TitleN1 {
	color: #e4002b;
	margin-bottom: 70px;
	padding-top: 130px;
}
.Nosotros-Historia-Historia-Imagen {
	background: white;
	padding-top: 234px;
	width: 410px;
	float: right;
	margin-left: 100px;
}
.Nosotros-Historia-Mercado {
	text-align: justify;
	padding: 0px 0px 50px 0px;
}
.Nosotros-Historia-Mercado .TitleN1 {
	color: #e4002b;
	margin-bottom: 40px;
	padding-top: 50px;
}
.Nosotros-Historia-Mercado-Imagen {
	background: #f9faf3;
	padding-bottom: 210px;
	float: left;
	width: 390px;
	margin-right: 90px;
}
.Nosotros-Vision {
	padding: 0;
	background: url("images/bg-nosotros-vision.jpg");
	z-index: 2;
	top: 0;
	background-size: cover;
	background-attachment: fixed;
	display: block;
	width: 100%;
}
.VisionsBox {
	display: block;
	width: 100%;
	margin-top: 395px;
}
.VisionsBox .BlockInfo-nosotros-vision {
	background: #e4002b;
	max-width: 445px;
	float: right;
	height: 395px;
	padding-right: 100px;
	width: 100%;
}
.BlockInfo-nosotros-vision {
	text-align: left;
	padding: 60px 30px;
}
.BlockInfo-nosotros-vision .Line {
	display: inline-block;
	height: 6px;
	width: 50px;
	margin-bottom: 30px;
	background: rgb(255, 255, 255);
}
.BlockInfo-nosotros-vision .Parrafo {
	color: rgb(255, 255, 255);
}
.BlockInfo-nosotros-vision .Title {
	margin-bottom: 30px;
	color: #fff;
}
.VisionsBox .BlockInfo-nosotros-vision .Title {
	height: 110px;
}
.Nosotros-Valores {
	display: inline-block;
	width: 100%;
	padding: 135px 40px 150px 40px;
	background: #fff;
}
.Nosotros-Valores-Header .Title {
	margin-bottom: 75px;
	color: #e4002b;
}
.ListadoValores {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.ListadoValores li {
	display: inline-block;
	padding: 0 30px;
	width: 24%;
	vertical-align: text-top;
}
.ValorIcon {
	width: 142px;
	height: 142px;
	display: inline-block;
}
/*.Icon1{background: url("./images/sprite-valores.png") 0 0;}
        .Icon2{background: url("./images/sprite-valores.png") -145px 0;}
        .Icon3{background: url("./images/sprite-valores.png") -290px 0;}
        .Icon4{background: url("./images/sprite-valores.png") -435px 0;}*/
.ValorText {
	color: #e4002b;
}
/************ PRODUCTOS *************/

.BgHeader-Productos .BlockInfo {
	right: 15px;
	left: initial;
}
.Nosotros-Cafe {
	padding: 0;
	background: url("images/bg-productos-cafe-grano.jpg");
	z-index: 2;
	top: 0;
	background-size: cover;
	background-attachment: fixed;
	display: block;
	width: 100%;
}
.CafeBox {
	display: block;
	width: 100%;
	margin-top: 395px;
}
.CafeBox .BlockInfo {
	background: #8d561e;
	width: 445px;
	float: right;
	height: 395px;
	padding-right: 100px;
}
.CafeBox .BlockInfo .Title {
	height: 110px;
}
.FormProductos select {
	background: #000;
	border: none;
	padding: 10px 15px;
	width: 100%;
}
/* FOOTER */
.Footer {
	text-align: left;
	background: #e4002b;
	padding: 0px 0 0px 0;
	float: left;
	width: 100%;
}
.Footer-Box {
	padding: 0px;
	float: left;
	margin-right: 15px;
}
.Footer-Box-Logo {
	float: left;
	width: 390px;
	padding: 110px 30px 50px 30px;
}
.Footer-Box-Logo img {
	margin-bottom: 170px;
}
.RedesSociales {
	margin-bottom: 30px;
}
.RedesSociales li {
	float: left;
	margin-right: 10px;
}
.RedesSociales li a {
	background: #fff;
	width: 33px;
	height: 33px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	padding: 5px 4px;
}
.RedesSociales li a i {
	color: #e4002b;
	font-size: 20px;
}
.contacto-footer-datos li {
	float: left;
	margin-right: 10px;
}
.contacto-footer-datos {
	display: block;
	width: 100%;
	clear: both;
}
.contacto-footer-datos a {
	color: white
}
.contacto-footer-datos .iconos a i {
	background: #fff;
	color: #e4002b;
	font-size: 20px;
	display: inline-block;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	text-align: center;
	padding: 5px 4px;
}
.contacto-footer-datos .iconos {
	padding-top: 5px;
}
.Footer-Box-Menu {
	padding: 110px 30px 50px 30px;
}
.Footer-Box-Menu-List {
	width: 12.8%;
	float: left;
}
.Footer-Box-Menu-List h6 {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
	color: #fff;
	text-transform: uppercase;
}
.Footer-Box-Menu-List ul {
	display: inline-block;
}
.Footer-Box-Menu-List ul li {
	float: left;
	line-height: 14px;
	width: 100%;
}
.Footer-Box-Menu-List ul li a {
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}
/* END FOOTER */

.icon-menu-mobile {
	display: none;
	padding: 7px 0;
}
.icon-menu-mobile img {
	width: 30px;
	margin-right: 0px;
}
.menu-mobile-open {
	background-color: #e4002b;
	display: none;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
	height: 100%;
	left: 0;
	max-width: 100vw;
}
.cierra-menu a {
	float: right;
	padding: 20px;
}
.cierra-menu a i {
	font-size: 26px;
	color: #fff;
}
/****************** 4 - BOOTSTRAP CUSTOM ****************/

input[type=radio]:checked ~ .check {
	border: 2.5px solid #000;
}
input[type=radio]:checked ~ .check::before {
	background: #000;
}
input[type=radio]:checked ~ label {
	color: #757575;
}
/* arreglos */
div.titulo-home {
	max-width: 700px;
	text-transform: uppercase;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 19%;
}
div.titulo-home h3 {
	font-size: 54px;
	font-weight: 700;
	margin-bottom: 5%;
	text-shadow: 1px 1px 2px #dff0d8;
}
div.titulo-home a.btn-default {
	border-radius: 0px;
	background: transparent;
	border: 2px solid white;
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 21px;
}
.conoce {
	margin-top: 3%;
	text-transform: uppercase;
	margin-bottom: 3%
}
.conoce-1, .conoce-2 {
	position: relative;
	height: auto;
	overflow: hidden
}
.conoce-1 .texto, .conoce-2 .texto {
	position: absolute;
	z-index: 150
}
.conoce-1 .texto {
	color: white;
	top: 13%;
	max-width: 240px;
	right: 3%;
	text-align: right
}
.conoce-1 .texto h3 {
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	margin-bottom: 10%
}
.conoce-1 .texto a.btn-default {
	border-radius: 0px;
	background: transparent;
	border: 2px solid white;
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 21px;
}
.conoce-2 .texto {
	color: #dfd1b8;
	top: 13%;
	max-width: 334px;
	right: 3%;
	text-align: right
}
.conoce-2 .texto h3 {
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	margin-bottom: 10%;
	color: #dfd1b8;
}
.conoce-2 .texto a.btn-default {
	border-radius: 0px;
	background: transparent;
	border: 2px solid #dfd1b8;
	color: #dfd1b8;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 21px;
}
/* carrousel productos */
#owl-carousel-products .item {
	background: #fff;
	padding: 0px 0px;
	margin: 0 10px;
	color: #333333;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-align: center;
}
.banner-producto {
	position: relative
}
.banner-producto .texto-producto-banner {
	position: absolute;
	top: 0;
	z-index: 300;
	text-align: left;
	color: white;
	margin-top: 26%;
	padding-left: 10%;
	font-size: 18px
}
.banner-producto .texto-producto-banner h5 {
	font-size: 35px;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 36px;
	text-align: left;
	margin-bottom: 13%;
}
.banner-producto .texto-producto-banner p {
	color: white;
	font-size: 18px;
	font-weight: 300;
	max-width: 179px;
	margin-bottom: 72%;
}
.banner-producto .texto-producto-banner a.btn-default {
	text-transform: uppercase;
	border-radius: 0px;
	background: transparent;
	border: 2px solid white;
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 21px;
}
#owl-carousel-products .item .img-container {
	background: #f7f8fa;
}
h5.product-category {
	margin: 10px 0;
}
h4.product-name {
	margin: 3% 0;
}
#owl-carousel-products .item h5.product-category a, #owl-carousel-products .item h5.product-category {
	text-align: left;
	display: block;
	font-size: 22px;
	/*font-weight: 600;*/
	color: #000000;
}
#owl-carousel-products .item h4.product-name a, #owl-carousel-products .item h4.product-name {
	color: #000000;
	font-size: 18px;
	text-align: left;
	display: block;
	/*font-weight: 700;*/
	cursor: default
}
#owl-carousel-products .item h5.product-category a:hover, #owl-carousel-products .item h5.product-category a:active, #owl-carousel-products .item h5.product-category a:focus, #owl-carousel-products .item h4.product-name a:hover, #owl-carousel-products .item h4.product-name a:active, #owl-carousel-products .item h4.product-name a:focus {
	color: #666666;
	text-decoration: none
}
#owl-carousel-products .item span.new {
	position: absolute;
	background: #e90004;
	color: white;
	text-transform: uppercase;
	font-size: 18px;
	text-align: right;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	display: block;
	width: 90px;
	top: 3%;
	right: 3.5%;
	z-index: 150;
	padding: 5px 5px;
	line-height: 18px
}
.Home-Productos a {
	cursor: default
}
#owl-carousel-products .owl-controls {
	position: absolute;
	z-index: 250;
	top: 40%;
	width: 100%;
}
#owl-carousel-products .owl-prev {
	float: left;
	text-indent: -10000px;
	background: url(images/prev.png) no-repeat;
	height: 48px;
	width: 48px;
}
#owl-carousel-products .owl-next {
	float: right;
	text-indent: -10000px;
	background: url(images/next.png) no-repeat;
	height: 48px;
	width: 48px;
}
.BlockInfo {
	padding: 60px 30px;
	text-align: left;
	color: white;
}
.Line {
	display: inline-block;
	height: 6px;
	width: 50px;
	background: #fff;
	margin-bottom: 30px;
}
.BlockInfo .Parrafo {
	color: #fff;
}
.Home-productos {
	background: #222222;
	min-height: 175px;
	padding: 3% 0;
}
/* productos */
#owl-carousel-products-2 {
	margin-top: 7%;
}
#owl-carousel-products-2 .producto {
	background: #fff;
	margin-bottom: 5%;
	color: #333333;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-align: center;
	min-height: 539px;
}
#owl-carousel-products-2 .producto p.parrafo {
	text-align: left
}
#owl-carousel-products-2 .item .img-container {
	background: #f7f8fa;
}
h5.product-category {
	margin: 10px 0;
}
h4.product-name {
	margin: 3% 0;
}
#owl-carousel-products-2 .producto h5.product-category a, #owl-carousel-products-2 .producto h5.product-category {
	text-align: left;
	display: block;
	font-size: 22px;
	color: #000000;
}
#owl-carousel-products-2 .producto h4.product-name a, #owl-carousel-products-2 .producto h4.product-name {
	color: #000000;
	font-size: 18px;
	text-align: left;
	display: block;
	cursor: default;
	/*height: 3em;*/
}
#owl-carousel-products-2 .producto h5.product-category a:hover, #owl-carousel-products-2 .producto h5.product-category a:active, #owl-carousel-products-2 .producto h5.product-category a:focus, #owl-carousel-products-2 .producto h4.product-name a:hover, #owl-carousel-products-2 .producto h4.product-name a:active, #owl-carousel-products-2 .producto h4.product-name a:focus {
	color: #666666;
	text-decoration: none
}
#owl-carousel-products-2 .producto span.new {
	position: absolute;
	background: #e90004;
	color: white;
	text-transform: uppercase;
	font-size: 18px;
	text-align: right;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	display: block;
	width: 90px;
	top: 3%;
	right: 3.5%;
	z-index: 150;
	padding: 5px 5px;
	line-height: 18px
}
#owl-carousel-products-2 .producto .img-container {
	/*background: #f7f8fa;*/
}
@media(max-width: 767px) {
	#owl-carousel-products-2 .producto .img-responsive {
		margin: auto;
	}
}
.Contacto .BlockInfo {
	width: 100%;
	float: left;
	height: 395px;
	font-size: 36px;
	line-height: 40px;
	padding-right: 60px;
	background: #e4002b
}
.Contacto .BlockInfo .Title {
	height: 110px;
	margin-bottom: 5px;
}
.Contacto .Line {
	margin-top: 8%;
	margin-bottom: 18%;
}
.FormContactoSelect select {
	background: #e4002b;
	padding: 10px 15px;
	width: 100%;
	color: white;
	font-size: 18px;
	border: 1px solid white;
	text-transform: uppercase
}
.Contacto form.form-horizontal.contacto-form {
	padding-top: 7%;
}
.Contacto form.form-horizontal.contacto-form label {
	/*font-size: 18px;*/
	font-size: 15px;
	text-transform: uppercase;
	color: #2a2a2a
}
.Contacto form.form-horizontal.contacto-form .form-control {
	border-radius: 0px;
	border: none;
	background: #e7eff2;
	color: #2a2a2a;
	box-shadow: none;
	max-width: 533px;
	float: right;
	/*height: 28px*/
	height: 37px;
	font-size: 18px;
}
.Contacto form.form-horizontal.contacto-form textarea {
	min-height: 207px
}
input.btn.btn-default.contacto.btn-lg {
	border-radius: 0px;
	margin-top: 3%;
	border: none;
	background: #e4002b;
	color: white;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 38px;
	min-width: 230px;
	font-weight: bold
}
.Contacto form.form-horizontal.contacto-form .form-group {
	margin-bottom: 4%
}
.Contacto-Familia {
	margin-bottom: 5%;
	margin-top: 7%
}
.Contacto-Familia .container {
	background: url(../images/contacto/contacto-familia.jpg) no-repeat;
}
.Contacto-Familia .VisionsBox {
	display: block;
	width: 100%;
	margin-top: 0
}
.Contacto-Familia .VisionsBox .BlockInfo-nosotros-vision {
	background: transparent;
	max-width: 750px;
	width: 100%;
}
.Contacto-Familia .VisionsBox .BlockInfo-nosotros-vision .Title {
	font-size: 48px;
	line-height: 48px;
}
.Contacto-Familia .VisionsBox .Parrafo {
	margin-bottom: 5%
}
p.Parrafo-link {
	font-family: 'Signika', sans-serif;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px
}
p.Parrafo-link a {
	color: white;
}
.BlockInfo-novedades {
	position: absolute;
	bottom: 7%;
	text-align: right;
	right: 2%;
}
.BlockInfo-novedades .Title.TitleN1 {
	color: white;
	text-transform: uppercase;
	font-size: 78px;
	line-height: 69px;
	padding-bottom: 3%;
	text-shadow: 1px 1px 2px rgb(6, 6, 6);
}
.BlockInfo-novedades p.Parrafo {
	color: white;
	font-size: 18px;
	line-height: 24px;
	max-width: 760px;
	margin-bottom: 2%;
	float: right;
	text-shadow: 1px 1px 2px rgb(6, 6, 6);
}
.leer-mas.mas-slider {
	color: white;
	font-size: 36px;
	font-weight: bold;
	clear: both;
	display: block;
	text-shadow: 1px 1px 2px rgb(6, 6, 6);
}
.novedades-top-d {
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: left;
}
.novedades-1, .novedades-2 {
	position: relative;
	overflow: hidden;
	padding: 3% 4%;
	height: 434px
}
.novedades-1 .texto, .novedades-2 .texto {
	color: #333;
	font-size: 17px;
	line-height: 26px;
	max-width: 355px;
	margin-top: 24%;
	margin-bottom: 4%
}
.novedades-1 {
	background: #eef0f0;
}
.novedades-2 {
	background: #e3ceba
}
.novedades-1 h3 a {
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 10%;
	color: #9b8e82;
	display: block;
	padding-top: 12px;
}
.novedades-2 h3 a {
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 10%;
	color: #9b8e82;
	display: block;
	padding-top: 12px;
}
.leer-mas-destacado {
	color: black;
	font-size: 30px;
	font-weight: bold;
}
.leer-mas-destacado:hover {
	text-decoration: none;
	color: black
}
.Novedades-cuerpo {
	margin-top: 2%;
}
.novedad-item {
	text-align: left;
	margin-bottom: 5%
}
.novedad-item .texto {
	padding: 5px;
}
.novedad-item h3 {
	margin-top: 0.5em;
/*	height: 2.2em;
    overflow: hidden;*/
	color: #333333;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	padding-top: 10%;
	display: block;
	margin-bottom: 5px;
}
.novedad-item h3 a:hover, .novedad-item h3 a:focus {
	color: initial;
	text-decoration: none;
}
.novedad-item p.Parrafo {
	color: #333;
	margin-bottom: 6%
}
.leer-mas-novedades {
	font-size: 24px;
	line-height: 24px;
	color: black;
	display: block;
	font-weight: bold;
	margin-bottom: 5%
}
.leer-mas-novedades:hover {
	color: black;
	text-decoration: none
}
.BlockInfo-locales {
	position: absolute;
	bottom: 6%;
	text-align: right;
	right: 0%;
}
.BlockInfo-locales .Title.TitleN1 {
	color: white;
	font-size: 59px;
	line-height: 59px;
	max-width: 588px;
	text-shadow: 1px 1px 2px rgb(6, 6, 6);
}
.Locales-Mapa {
	width: 100%;
}
.Locales-Mapa #map-canvas {
	width: 100%;
	min-height: 60vh;
}
#info-container {
	margin: 3% 0;
	text-align: left;
}
#info-container #map-texto h2 {
	color: #e4002b;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 5%
}
#info-container #map-texto {
	color: #2a2a2a;
	font-size: 18px;
	font-weight: bold;
}
.FranquiciasBox .BlockInfo .Title a {
	color: white;
}
.FranquiciasBox .BlockInfo .Title a:hover {
	color: white
}
.BuscaLocalesBox .BlockInfo .Title a {
	color: white;
}
.BuscaLocalesBox .BlockInfo .Title a:hover {
	color: white
}
.Negocios .BlockInfo {
	min-height: 404px;
	cursor: pointer
}
.Negocios .BlockInfo:hover {
	opacity: 0.8;
	transition: all ease-out 0.3s;
}
.Negocios .col-xs-12.col-sm-12.col-md-4 {
	padding-left: 0px;
	padding-right: 0
}
.Negocios .BlockInfo.franquicias {
	background: url("../images/negocios/negocios-franquicias.png") no-repeat #e4002b center
}
.Negocios .BlockInfo.petroleras {
	background: url("../images/negocios/negocios-petroleras.png") no-repeat #e4002b center
}
.Negocios .BlockInfo.empresas {
	background: url("../images/negocios/negocios-empresas.png") no-repeat #e4002b center
}
.Negocios .BlockInfo.franquicias.activo {
	background: url("../images/negocios/negocios-franquicias-activo.png") no-repeat #fff center
}
.Negocios .BlockInfo.petroleras.activo {
	background: url("../images/negocios/negocios-petroleras-activo.png") no-repeat #fff center
}
.Negocios .BlockInfo.empresas.activo {
	background: url("../images/negocios/negocios-empresas-activo.png") no-repeat #fff center
}
.hide {
	display: none
}
.visi {
	display: block
}
.tab-negocios {
	text-align: left;
}
.contenido-tab {
	padding: 5% 4% 5% 1%;
}
.contenido-tab h4.TitleN1 {
	font-size: 36px;
	line-height: 36px;
	color: #7c7c7c;
	margin-top: 10%;
	margin-bottom: 11%
}
.contenido-tab .ParrafoBox {
	color: #333333;
	font-size: 18px;
	line-height: 30px;
	text-align: justify
}
.tab-negocios ul.lista {
	color: #e4002b;
	font-size: 18px;
	line-height: 24px;
	font-weight: 600
}
.tab-negocios ul.lista li {
	margin-bottom: 5%
}
.tab-negocios ul.lista li .fa {
	margin-right: 10px
}
.Banner-bajo {
	padding: 0;
	background: url(images/bg-negocios-banner-bajo.jpg);
	z-index: 2;
	color: white;
	top: 0;
	background-size: cover;
	background-attachment: fixed;
	display: block;
	width: 100%;
}
.Banner-bajo h4.TitleN1 {
	margin-top: 15%;
	color: #e4002b;
	text-align: center;
	font-size: 48px;
	line-height: 48px
}
.Banner-bajo h4.TitleN1 {
	margin-bottom: 15%
}
.Banner-bajo ul.lista {
	margin-bottom: 71%;
}
.Banner-bajo ul.lista li {
	padding: 0 16%;
	margin-bottom: 9%;
}
.Banner-bajo img.imagen {
	margin-bottom: 71%;
	max-width: 100%
}
.franquicias-bottom .contenido-tab {
	padding: 4% 1% 5% 6%;
	text-align: left
}
.franquicias-bottom .contenido-tab ul.lista {
	color: #e4002b;
	font-size: 18px;
	line-height: 24px;
	font-weight: 600
}
.franquicias-bottom .contenido-tab ul.lista li {
	margin-bottom: 5%
}
.franquicias-bottom .contenido-tab ul.lista li .fa {
	margin-right: 10px
}
.franquicias-bottom .BlockInfo {
	background: #a33835;
	color: white
}
.franquicias-bottom .BlockInfo .TitleN1 {
	line-height: 36px;
	margin-bottom: 14%;
}
.franquicias-bottom .BlockInfo.Marron {
	background: #211a12
}
a.franquicias-abrir, a.franquicias-abrir_ {
	display: block;
	line-height: 30px;
	padding-right: 12px;
}
a.franquicias-abrir i, a.franquicias-abrir_ i {
	top: 4px !important;
	margin-left: 4px;
}
a.franquicias-abrir:hover, a.franquicias-abrir_:hover {
	background: #e4002b;
}
a.franquicias-cerrar {
	display: block;
	line-height: 30px;
	padding-right: 12px;
	background: #e4002b;
}
a.franquicias-cerrar i {
	top: 4px !important;
	margin-left: 4px;
}
a.franquicias-cerrar-x {
	display: block;
	line-height: 30px;
	padding-right: 12px;
	background: #e4002b;
}
a.franquicias-cerrar-x i {
	top: 4px !important;
	margin-left: 4px;
}
ul.sub-login {
	color: white;
	background: #e4002b;
	height: auto;
	overflow: hidden;
	position: absolute;
	z-index: 1500;
	width: 120%;
	left: -20%;
	padding: 8% 8%;
	text-align: left;
	margin-top: 0%;
}
ul.sub-login h6 {
	font-size: 16px;
	font-weight: lighter;
	text-align: left;
	text-transform: uppercase
}
ul.sub-login input#nf {
	width: 100%;
	margin-top: 5%;
	border: 1px solid white;
	background: transparent;
	color: white;
}
ul.sub-login input#in {
	margin-top: 5%;
	border: none;
	font-size: 18px;
	text-transform: uppercase;
	background: white;
	color: #e4002b;
	font-weight: bold;
	padding: 2% 5%;
	float: right;
}
.BlockInfo-franquicias {
	position: absolute;
	bottom: 7%;
	text-align: left;
	left: 0%;
}
.BlockInfo-franquicias .Title.TitleN1 {
	color: white;
	text-transform: uppercase;
	font-size: 94px;
	line-height: 94px;
	padding-bottom: 3%;
}
.franquicias-top-d {
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: left;
}
.franquicias-1, .franquicias-2 {
	position: relative;
	overflow: hidden;
	padding: 3% 4%;
	height: 434px
}
.franquicias-1 .texto, .franquicias-2 .texto {
	color: #333;
	font-size: 17px;
	line-height: 26px;
	max-width: 355px;
	margin-top: 24%;
	margin-bottom: 4%
}
.franquicias-1 {
	background: #eef0f0;
}
.franquicias-2 {
	background: #e3baba
}
.franquicias-1 h3 a {
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 10%;
	color: #9b8e82;
	display: block;
	padding-top: 12px;
}
.franquicias-2 h3 a {
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 10%;
	color: #551e1e;
	display: block;
	padding-top: 12px;
}
.Franquicias-cuerpo {
	text-align: left;
	margin-bottom: 10%;
}
.franquicias-item {
	text-align: left;
	margin-bottom: 5%
}
.franquicias-item .texto {
	padding: 5px;
}
.franquicias-item h3 a {
	color: #333333;
	font-size: 29px;
	line-height: 30px;
	font-weight: bold;
	padding-top: 10%;
	display: block;
	margin-bottom: 5px;
}
.franquicias-item p.Parrafo {
	color: #333;
	margin-bottom: 6%
}
.franquicias-nologin {
	padding: 7% 7%;
	color: white;
	background: #e4002b;
	margin-top: 3%;
	margin-bottom: 3%
}
.franquicias-nologin h6 {
	font-size: 16px;
	font-weight: lighter;
	text-align: left;
	text-transform: uppercase
}
.franquicias-nologin input#nf {
	width: 100%;
	margin-top: 5%;
	border: 1px solid white;
	background: transparent;
	color: white;
	padding: 2%
}
.franquicias-nologin input#in {
	margin-top: 5%;
	border: none;
	font-size: 18px;
	text-transform: uppercase;
	background: white;
	color: #e4002b;
	font-weight: bold;
	padding: 2% 5%;
	float: right;
}
.franquicias-nologin h2 {
	margin-bottom: 2%;
}
.franquicias-nologin p.parrafo {
	color: white;
	line-height: 24px
}
#locales-buscar {
	background: #222222;
	min-height: 130px;
	padding: 3% 0;
}
#locales-buscar select {
	background: #000;
	border: none;
	padding: 10px 15px;
	width: 30%;
	color: white;
	display: inline-block;
}
div.submit {
	background: #e4002b;
	display: inline-block;
	padding: 9px 15px;
	border: 1px solid #e4002b;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
}
div.submit:hover, div.submit:focus {
	background: #000;
	color: #e4002b;
}
.fancybox-toolbar {
	display: none !important
}
.fancybox-bg {
	background: white !important;
}
.fancybox-show-nav .fancybox-arrow {
	opacity: 1 !important
}
.fancybox-arrow--right {
	right: 14% !important
}
.fancybox-arrow--left {
	left: 14% !important
}
button.fancybox-button.fancybox-button--close {
	background: url('images/close.png') no-repeat;
	height: 36px;
	width: 36px;
	border: none
}
.fancybox-arrow::after {
	background-image: url(images/fsig.png) !important;
	background-color: transparent !important;
}

@media (max-width:1440px) {
.fancybox-arrow--right {
	right: 0% !important
}
.fancybox-arrow--left {
	left: 0% !important
}
}
label.error {
	color: red !important;
	font-size: 11px !important;
	/* background: red; */
	display: block !important;
	clear: both;
	max-width: 530px;
	text-align: center;/* float: right; */
}

@media(min-width: 769px) and (max-width: 1281px) {
	.Home-Productos {
	    padding-right: 7%;
	}
}

/* header */

/* 1280 */
@media screen and (min-width: 1200px) {

header#inicio {
	margin-top: 120px;
    max-width: 1188px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

header#inicio .Header {
    min-height: auto;
    height: 420px;
}

header#inicio .Header .container {
	height: auto;
}

header#inicio .Header > .container > .row {
	position: absolute;
    top: -100px;
    width: 100%;
}

header#inicio .Header .Menu-Principal ul li a {
	color: #000000;
}

header#inicio .Menu-Principal ul li.active a span {
	background: #000000;
}

#home-bonafide header#inicio .Menu-Acceso li a {
	color: #000000;
}

header#inicio .Menu-Acceso li a i {
	background-color: #000000;
	color: #fff;
}

header#inicio .Header-Logo {
	margin-top: 0;
}

header#inicio  .Header-Menu {
	margin-top: 15px;
}

}

/* 1680 */
@media screen and (min-width: 1600px) {

header#inicio .Header {
    min-height: auto;
    height: 500px;
}

}


.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
	max-height: 350px;
}