@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

* {
	box-sizing: border-box; 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
}

.error{
	color:red!important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

body {
	background-color: #000;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

h1 {

}

h2 {
	font-size: 20px;
	font-style: italic;
	font-weight: 400;
	line-height: 1.2em;
	color: #fff;
	text-align: center;
}

h3 {
	
}

p {
	
}

a:link {
	color: #fff;
	text-decoration: none;
	
}

a:visited {
	color: #fff;
	text-decoration: none;
	
}

a:hover {
	color: #fff;
	
}


img {
	width: 100%;
}

/*HEADER*/

header {

}

/*NAV*/

nav {

}

/*FOOTER*/

footer {
}

footer p {
	font-size: 13px;
	font-weight: 400;
	font-style: italic;
	line-height: 1.6em;
	text-align: center;
	margin-top: 6px;
}

/*CONTENIDO*/

.container {
	background: url(../img/bg-mob.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: auto;
	width: 100%;
}

.container .box-1 {
}

.container .box-2 {
	padding: 4% 10% 0;
}

.container .box-1 .btn {
	display: block;
	padding: 0 10% 0;
	margin: 0 auto;
	text-align: center;
}

.container .box-1 .btn img {
	max-width: 305px;
	width: 100%;
}

.form-lateral {
	margin-top: 5%;
}

.form-lateral label {
	font-size: 13px;
	display: block;
	margin-bottom: 8px;
	margin-left: 20px;
}

.form-lateral input {
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 1rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .30rem !important;
    -webkit-appearance: none;
}

.form-lateral div {
	margin-bottom: 15px;
}

.form-lateral input.btn {
	font-size: 16px;
	cursor: pointer;
	color: #fff;
	font-weight: 700;
	font-style: italic;
	border: 1px solid #fff97d; 
	background-color: #eb2127;
	padding: 6px 0;
    height: auto;
}

.content-box-lb.fancybox-content {
	background-image: url(../img/misc-bg-lb.png), url(../img/misc-bg-lb.png);
	background-repeat: no-repeat;
	background-position: 5% 95%, 95% 95%;
	background-size: 38px, 38px;
	background-color: #d21000;
	border-radius: 10px;
	max-width: 700px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.content-box-lb h2 {
	font-size: 20px;
	line-height: 1.6em;
}

.logo-navidad {
	text-align: center;
}

.logo-navidad img {
	max-width: 180px;
	width: 100%;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.transition {
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s; 
}

.desk {
	display: none;
}

/****************************/

/* 1024 */
@media screen and (min-width: 1020px) {

h2 {
	font-size: 16px;
}

footer p {
	font-size: 12px;
}

.container {
	background: url(../img/bg-desk.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.container .box-1 {
	width: 67.447916666666666666666666666667%;
	float: left;
}

.container .box-2 {
	width: 24%;
	float: left;
	padding: 4% 0 0;
}

.form-lateral div {
	margin-bottom: 14px;
}

.form-lateral label {
	font-size: 12px; 
	margin-bottom: 6px;
	margin-left: 0;
}

.form-lateral input {
    height: calc(.6em + .75rem + 1px);
    padding: 0.4rem .75rem;
    font-size: 0.8rem;
}

.mob {
	display: none !important;
}

.desk {
	display: block;
}

.content-box-lb.fancybox-content {
	background-position: 3% 95%, 98% 95%;
	background-size: 47px, 47px;
	padding-left: 80px;
	padding-right: 80px;
}

.content-box-lb h2 {
	font-size: 22px;
	line-height: 1.6em;
}

.logo-navidad img {
	max-width: 266px;
}

}

/* 1280 */
@media screen and (min-width: 1200px) {

footer p {
	font-size: 15px;
}

.form-lateral label {
	font-size: 13px; 
	margin-left: 20px;
}

.form-lateral input {
    height: calc(1em + .75rem + 1px);
    padding: 0.9rem .75rem;
    font-size: 0.9rem;
}

.form-lateral input.btn {
	font-size: 16px;
	padding: 4px;
	margin-top: 20px;
}

}

/* 1360 */
@media screen and (min-width: 1360px) {

h2 {
	font-size: 22px;
}

.form-lateral label {
	font-size: 13px;
	margin-bottom: 8px;
	margin-left: 40px;
}

.form-lateral input {
    height: calc(1em + .75rem + 1px);
    padding: 0.9rem .75rem;
    font-size: 0.9rem;
}

.form-lateral input.btn {
	font-size: 18px;
	padding: 4px;
	margin-top: 30px;
}

footer p {
	font-size: 15px;
	margin-top: 8px;
}

}

/* 1440 */
@media screen and (min-width: 1400px) {

.form-lateral label {
	font-size: 14px;
}

}

/* 1680 */
@media screen and (min-width: 1600px) {

h2 {
	font-size: 24px;
}

.form-lateral div {
	margin-bottom: 18px;
}


.form-lateral label {
	margin-bottom: 10px;
}

.form-lateral input {
    padding: 1.2rem .75rem;
    font-size: 1rem;
}

.form-lateral input.btn {
	font-size: 20px;
	margin-top: 32px;
}

footer p {
	font-size: 18px;
}

}

/* 1920 */
@media screen and (min-width: 1900px) {

footer p {
	font-size: 20px;
}

.form-lateral div {
	margin-bottom: 22px;
}


.form-lateral input {
    height: calc(1em + .75rem + 1px);
    padding: 1.4rem .75rem;
    font-size: 1rem;
}

.form-lateral input.btn {
	font-size: 24px;
	margin-top: 32px;
}

}